<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=upload_file"
    />
    <title>E-mail Classifier</title>
  </head>
  <body>
    <main>
      <h1>E-mail Classifier</h1>

      <p id="description">
        Classifique seus emails como <b>importantes</b> ou
        <b>não importantes</b> e gere respostas automáticas!
      </p>
      <!-- Enviar formulário -->
      <!-- Parte de dúvidas -->


      <nav>
        <button type="button" id="nav-upload" class="active">Upload</button>
        <button type="button" id="nav-text">Texto</button>
      </nav>

      <section>
        <form action="/classify" method="post" enctype="multipart/form-data">
          <div id="text">
            <label for="email" class="email-label"
              >Digite o Conteúdo do E-mail:</label
            ><br />
            <textarea
              name="email"
              rows="10"
              cols="50"
              id="email-input-text"
              required
            ></textarea
            ><br />
          </div>

          <div id="upload">
            <label for="email-input-file" style="cursor: pointer">
              <span
                class="material-symbols-outlined"
                style="font-size: 80px; vertical-align: middle"
              >
                upload_file
              </span>

            <input
              type="file"
              name="email"
              accept=".txt,.pdf"
              id="email-input-file"
            />
          </div>

          <input type="submit" value="Enviar" id="submit-button" />
        </form>
      </section>
    </main>
  </body>
  <script src="../static/controllers/screen_controler.js"></script>
</html>
